// background colors
$bodyColor: #383838;
$sidebarColor: #2B2D33;
$mainDisplayColor: #232326;
$toggleLineDisplayColor: #7F7F7F;
$inactiveTabColor: #3d356b;
$cornflowerblue: cornflowerblue;
$buttonHoverColor: lighten($cornflowerblue, 20%);

$sidebarWidth: 20%;
$mainDisplayWidth: 80%;


$tabHeight: 50px;
$expressiveLogoHeight: 32px;
$expressiveLogoWidth: 70px;

$font: "Lucida Grande";
$defaultFontColor: white;
